# Client Environment Variables

# Express server API base URL
REACT_APP_API_URL=http://localhost:3001

# Expo project name
EXPO_PROJECT_ID=alvico-todo

# Environment (development, production)
REACT_APP_ENV=development
